<p>
  Hi <%= @user.name %>,
</p>

<p>
  welcome to SignDict. As last step you have to confirm
  your email address by clicking the link below:
</p>

<p>
  <%= link "Confirm email address", to:  SignDictWeb.Router.Helpers.email_confirmation_url(SignDictWeb.Endpoint, :update, email: @user.unconfirmed_email, confirmation_token: @user.confirmation_token_unencrypted) %>
</p>

<p>
  Thank you!
</p>
