<p>
  Hallo <%= @user.name %>,
</p>

<p>
  Jemand hat auf den "Passwort vergessen" Knopf auf <a href="https://signdict.org">SignDict.org</a>
  gedrückt. Falls dies nicht du warst, kannst du diese Mail ignorieren.
  Andernfalls klicke auf den folgenden Link:
</p>

<p>
  <%= link "Passwort zurücksetzen", to: reset_password_url(SignDictWeb.Endpoint, :edit, email: @user.email, password_reset_token: @user.password_reset_unencrypted) %>
</p>

<p>
  Hab noch einen schönen Tag.
</p>
