<p>
  Hi <%= @user.name %>,
</p>

<p>
  Someone clicked on the "forgot password" button on <a href="https://signdict.org">SignDict.org</a>.
  If this wasn't you, you can ignore this. Otherwise click on the following link:
</p>

<p>
  <%= link "Reset password", to: Router.Helpers.reset_password_url(SignDictWeb.Endpoint, :edit, email: @user.email, password_reset_token: @user.password_reset_unencrypted) %>
</p>

<p>
  Have a nice day!
</p>
