Hi <%= @user.name %>,

Someone clicked on the "forgot password" button on SignDict.org.
If this wasn't you, you can ignore this. Otherwise open the following link:

<%= Router.Helpers.reset_password_url(SignDictWeb.Endpoint, :edit, email: @user.email, password_reset_token: @user.password_reset_unencrypted) %>


Have a nice day!
