<p>
  Hallo <%= @user.name %>,
</p>
<p>
  Dein Video für "<%= @entry.text %>" wurde nun freigegeben 🎉.
</p>

<p>
  <%= link "Zum Video", to:  Router.Helpers.entry_video_url(SignDictWeb.Endpoint, :show, @entry.id, @video.id) %>
</p>

<p>
  Danke, dass du uns hilfst, das Wörterbuch weiter zu vervollständigen.
</p>

<p>
  Gruß vom SignDict Team.
</p>
