<p>
  Hi <%= @user.name %>,
</p>

<p>
  Your video for "<%= @entry.text %>" is now approved 🎉.
</p>

<p>
  <%= link "Open the video", to:  Router.Helpers.entry_video_url(SignDictWeb.Endpoint, :show, @entry.id, @video.id) %>
</p>

<p>
  Thanks for your help to complete the dictionary.
</p>

<p>
  Greetings from the SignDict team.
</p>
