<p>
  Hallo <%= @user.name %>,
</p>

<p>
  herzlich willkommen bei SignDict. Als letzten Schritt
  musst du jetzt noch den Link unten klicken um deine Email-Adresse
  zu bestätigen:
</p>

<p>
  <%= link "Email-Adresse bestätigen", to: email_confirmation_url(SignDict.Endpoint, :update, email: @user.unconfirmed_email, confirmation_token: @user.confirmation_token_unencrypted) %>
</p>

<p>
  Danke schön!
</p>
