Hallo <%= @user.name %>,

Jemand hat auf den "Passwort vergessen" Knopf auf SignDict.org
gedrückt. Falls dies nicht du warst, kannst du diese Mail ignorieren.
Andernfalls klicke auf den folgenden Link:

<%= reset_password_url(SignDict.Endpoint, :edit, email: @user.email, password_reset_token: @user.password_reset_unencrypted) %>


Hab noch einen schönen Tag.
