Hallo <%= @user.name %>,

Dein Video für "<%= @entry.text %>" wurde nun freigegeben 🎉.

Zum Video:

<%= entry_video_url(SignDict.Endpoint, :show, @entry.id, @video.id) %>

Danke das du uns hilfst, das Wörterbuch weiter zu vervollständigen.

Gruß vom SignDict Team.
