<div class="o-container o-container--medium">
  <div class="o-grid__cell o-grid__cell--offset-15@small">
    <h1 class="so-landing--banner--headline"><%= gettext("Imprint") %></h1>
    <p>
      <a href="http://bodo.tasche.me">Bodo Tasche</a>
      <br/>
      c/o IP-Management #4518<br/>
      Ludwig-Erhard-Str. 18<br/>
      20459 Hamburg
    </p>
    <p>+49 30 41728894</p>
    <a href="mailto:mail@signdict.org">mail@signdict.org</a>
  </div>
</div>
