<div class="s2m--supporter">
  <h1 class="s2m--supporter--header">
    Unterstützer
  </h1>
  <p>
    <a href="https://www.bmas.de"><img class="s2m--supporter--logo" src="/images/deleges/bmas.png" alt="Logo Bundesministerium für Arbeit und Soziales"/></a>
    <a href="https://www.wps.de/"><img class="s2m--supporter--logo" src="/images/deleges/wps.png" alt="Logo WPS GmbH"/></a>
    <a href="https://www.maxplanckfoundation.org/"><img class="s2m--supporter--logo" src="/images/deleges/maxplanck.png" alt="Logo Max Planck"/></a>
  </p>
</div>

<footer>
  <div class="o-container o-container--xlarge s2m--footer">
    <div class="s2m--footer--text">
      Sign2MINT ist eine Fachgebärdensammlung bei dem jede:r mitmachen kann.
    </div>

    <div class="s2m--footer--first-links">
      <a href="/imprint">Impressum</a>
      <a href="/privacy">Datenschutz</a>
      <a href="/contact">Kontakt</a>
    </div>

    <div class="s2m--footer--last-links">
      <a href="/entry">Alle Einträge</a>
      <a href="/latest">Neue Videos</a>
      <a href="/">Dokumentation</a>
    </div>
  </div>
</footer>
