<header class="s2m--header">
  <div class="s2m--header--logo">
    <a href="/">
      <img src="/images/sign2mint/sign2mint_logo.png" alt="Sign2MINT Logo">
    </a>
  </div>
  <div class="s2m--header--about">
    <a href="/about">Über Sign2MINT</a>
  </div>
</header>
