# docker-compose.yml
version: '3.8'

services:
  redis:
    image: redis:latest
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data

  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./postgres-data:/var/lib/postgresql/data_docker
    ports:
      - '5432:5432'

  app:
    build: .
    depends_on:
      - redis
      - db
    env_file:
      - app.env
    ports:
      - '4000:4000'

volumes:
  redis-data:
