<!DOCTYPE html>
<html lang="<%= Gettext.get_locale(SignDictWeb.Gettext) %>" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render SignDictWeb.SharedView, "header.html", conn: @conn,
            current_user: @current_user,
            ogtags: assigns[:ogtags],
            title: assigns[:title] %>
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
      (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
          (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
          m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
      })(document, window, '//ping.bitboxer.de/tracker.js', 'fathom');
      fathom('set', 'siteId', 'VIAYD');
      fathom('trackPageview');
    </script>
    <!-- / Fathom -->
  </head>
  <body>
    <div class="o-container o-container--medium">
      <%= render SignDictWeb.SharedView, "navigation.html", conn: @conn, current_user: @current_user %>
    </div>

    <%= render SignDictWeb.SharedView, "searchbar.html", conn: @conn, current_user: @current_user, searchbar: assigns[:searchbar] %>

    <div>
      <%= render SignDictWeb.SharedView, "alerts.html", conn: @conn %>
    </div>

    <div class="sc-main o-container o-container--medium">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <%= render SignDictWeb.SharedView, "footer.html", conn: @conn %>
  </body>
</html>
