<!DOCTYPE html>
<html lang="<%= Gettext.get_locale(SignDict.Gettext) %>">
  <head>
    <%= render SignDict.SharedView, "header.html", conn: @conn, current_user: @current_user %>
  </head>

  <body>
    <div class="o-container o-container--medium">
      <%= render SignDict.SharedView, "navigation.html", conn: @conn, current_user: @current_user %>
    </div>

    <%= render SignDict.SharedView, "searchbar.html", conn: @conn, current_user: @current_user, searchbar: assigns[:searchbar] %>

    <div>
      <%= render SignDict.SharedView, "alerts.html", conn: @conn %>
    <div>

    <div class="sc-main o-container o-container--medium">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <%= render SignDict.SharedView, "footer.html", conn: @conn %>
  </body>
</html>
