<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= gettext("SignDict") %></title>
    <link rel="stylesheet" href="https://unpkg.com/blaze@3.2.0">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/backend.css") %>">
  </head>

  <body class="c-text">
    <nav class="c-nav c-nav--inline">
      <a href="/" class="c-nav__item c-text--loud">SignDict</a>
      <%= if Gettext.get_locale(SignDict.Gettext) == "de" do %>
        <a href="?locale=en" class="c-nav__item c-nav__item--right">EN</a>
      <% else %>
        <a href="?locale=de" class="c-nav__item c-nav__item--right">DE</a>
      <% end %>

      <%= if @current_user do %>
        <%= link gettext("Sign out"), to: session_path(@conn, :delete, @current_user), method: "delete", class: "c-nav__item c-nav__item--right" %>
      <% else %>
        <%= link gettext("Register"), to: user_path(@conn, :new), class: "c-nav__item c-nav__item--right" %>
        <%= link gettext("Sign in"), to: session_path(@conn, :new), class: "c-nav__item c-nav__item--right" %>
      <% end %>
    </nav>
    <div class="o-grid o-panel o-panel--nav-top">
      <div class="o-grid__cell--width-15 o-grid__cell--hidden o-grid__cell--visible@large o-panel-container">
        <nav class="c-nav c-nav--light o-panel">
          <%= nav_active_link @conn, gettext("Dashboard"), backend_dashboard_path(@conn, :index)  %>
          <%= nav_active_link @conn, gettext("Users"), backend_user_path(@conn, :index) %>
          <%= nav_active_link @conn, gettext("Entries"), backend_entry_path(@conn, :index) %>
          <%= nav_active_link @conn, gettext("Videos"), backend_video_path(@conn, :index) %>
          <%= nav_active_link @conn, gettext("Languages"), backend_language_path(@conn, :index) %>
        </nav>
      </div>
      <main class="o-grid__cell o-grid__cell--width-85@large o-panel-container">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%= if Application.get_env(:sign_dict, :environment) != :prod do %>
      <script src="https://cdn.accesslint.com/accesslint-1.1.2.js"></script>
    <% end %>

  </body>
</html>
