<!DOCTYPE html>
<html lang="<%= Gettext.get_locale(SignDict.Gettext) %>" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render SignDict.SharedView, "header.html", conn: @conn, current_user: @current_user %>
  </head>

  <body class='so-embed'>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
