<!DOCTYPE html>
<html lang="<%= Gettext.get_locale(SignDict.Gettext) %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= gettext("Hello SignDict!") %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://unpkg.com/blaze@3.2.2">
  </head>

  <body class='sc-layout--empty'>
    <%= render @view_module, @view_template, assigns %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%= if Application.get_env(:sign_dict, :environment) != :prod do %>
      <script src="https://cdn.accesslint.com/accesslint-1.1.2.js"></script>
    <% end %>
  </body>
</html>
