.s2m-entry-list {
  padding-right: 1em;
  padding-left: 1em;
}

.s2m-entry-index__letter-links {
  a {
    display: inline-block;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: $dark_font;
  }
}

.s2m-entry {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 15px 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.s2m-entry--title {
  margin: 0;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  a {
    color: $dark_font;
    &:hover {
      text-decoration: none;
    }
  }
}

.s2m-entry--variant {
  font-size: 12px;
  margin: 0;
  justify-self: flex-end;
}

.s2m-entry--department {
  flex: 1 1;
  margin-top: 0;
  font-size: 1rem;
  display: -webkit-box;
  margin: 0.5rem 0;
  line-height: 1.5rem;
}
