.s2m-searchbar {
  background-color: $light_background;
  margin: 0;
  padding: 1.5em 0em;
}

.s2m-searchbar--container {
  display: flex;
  padding: 0 1em;
  align-items: center;
}

.s2m-searchbar--input {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  background-color: white;

  &:focus-within {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
  }
}

// Chrome gets its own focus
@media (-webkit-min-device-pixel-ratio: 0) {
  .s2m-searchbar--input {
    &:focus-within {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
    }
  }
}

.s2m-searchbar--filtertoggle {
  background-color: white;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.3rem;
  margin-right: 0.5rem;

  &:hover {
    color: $highlight;
  }

  &:focus {
    color: highlight;
  }
}

.s2m-searchbar--filtertoggle--active {
  color: $highlight;
}

.s2m-searchbar--input--with-border {
  border-left: 1px solid $deactive !important;
  border-right: 1px solid $deactive !important;
  border-top: 1px solid $deactive !important;
  border-bottom: none;
}

.s2m-searchbar--input--wrapper {
  width: 100%;
}

.s2m-searchbar--input--inner {
  width: 100%;
  font-size: 1em;
  border-radius: 0;
  border: none;
  height: 3em;
  padding: 0.8em 1em;

  &:focus {
    outline: none;
  }
}

.s2m-searchbar--submit {
  border: none;
  background-color: $highlight;
  color: $bright_font;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  height: 3em;
  width: 15%;
  margin-left: 1em;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fa.s2m-searchbar--icon {
  display: none;
}

.so-search-hints {
  position: absolute;
  background-color: white;
  border-left: 1px solid $deactive;
  border-right: 1px solid $deactive;
  border-bottom: 1px solid $deactive;
  z-index: 10;
}

.so-search-hints--empty {
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-align: center;
  margin: 0;
}

.so-search-hints--list {
  padding: 0.5em 0.5em 0 0.5em;
  margin: 0;
}

.so-search-hints--item {
  list-style-type: none;
  padding-bottom: 0.5em;
}

.so-search-hints--item--link {
  display: flex;
  align-items: center;
}

.so-search-hints--item--text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.so-search-hitns--item--text--description {
  color: $deactive;
}

.so-search-hints--item--image {
  flex-shrink: 0;
  width: 5em;
  padding-right: 1em;
}

.so-search-hints--more--link {
  display: block;
  width: 100%;
  margin: 0.5em 0;
  text-align: center;
}

.s2m-searchbar--all-letters {
  margin-left: 1rem;
}

.s2m-filter {
  display: flex;
  flex-direction: row;
  > div {
    flex: 1 1;
    margin-right: 2rem;
  }

  > div:last-child {
    margin-right: 0;
  }
}

@media all and (max-width: 48em) {
  .s2m-searchbar {
    padding-bottom: 2em;
  }

  .s2m-searchbar--submit {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0;
  }

  .fa.s2m-searchbar--icon {
    display: inline-block;
  }
}
