<h2><%= gettext("Forgot your password?") %></h2>

<p><%= gettext("Enter your email address and we'll send you a link to reset your password.") %></p>

<%= form_for @conn, reset_password_path(@conn, :create), [as: :user], fn f -> %>
  <div class="form-group">
    <%= label f, :email, gettext("user.email") %><br />
    <%= email_input f, :email %>
  </div>

  <div class="actions">
    <%= submit gettext("Send password reset instructions"), class: "btn btn-primary" %>
  </div>
<% end %>
