<h1 class="c-heading"><%= gettext("Welcome to the dashboard") %></h1>

<p>
Your browser is: <%= UAInspector.parse(@conn |> Plug.Conn.get_req_header("user-agent") |> List.first()).browser_family %>
</p>
