<video class="so-embed--player" playsinline src="<%= @video.video_url %>" loop controls poster="<%= @video.thumbnail_url %>" <%= if @autoplay == "true", do: "autoplay muted playsinline loop" %>></video>
<a href="<%= @entry_path %>" target="_blank" rel="noopener"><img class="so-embed--logo" src="/images/logo.svg" alt="<%= gettext("SignDict Logo") %>" /></a>
<a href="<%= @entry_path %>" target="_blank" rel="noopener" class="sc-button so-embed--details"><%= gettext("Details >") %></a>
