$accent:           #3333AF;
$highlight:        #50D8C8;
$deactive:         #aeb0b0;
$dark_font:        #272c2d;
$bright_font:      #ffffff;
$alert:            #DA453F;
$alert_background: #FBECEB;

$success:          #46B472;
$success_background: #EEFBF3;

$light_background:  #f8f8fb;
$dimmed_background: #e6e6e6;
$dark_background:   #10134B;
