$dark_background: #10134B;
$accent:          #3333AF;
$highlight:       #50D8C8;
$deactive:        #aeb0b0;
$dark_font:       #272c2d;
$bright_font:     #ffffff;
$alert:           #e9604c;
$success:         #34d911;
