<div class="o-container o-container--medium">
  <div class="o-grid__cell">
    <h1><%= gettext("Welcome") %></h1>

    <p>
      <%= gettext("recoding_explanation") %>
    </p>

    <%= link gettext("Record new sign"), to: recorder_path(@conn, :new, entry_id: @entry_id), class: "sc-button sc-button--small", data: [turbolinks: "false"] %>
  </div>
</div>
