<%= link "A", to: entry_path(@conn, :index, letter: "a") %>
<%= link "B", to: entry_path(@conn, :index, letter: "b") %>

<%# A-Z , Nummern, Sonstiges %>

<%= for entry <- @entries do %>
  <%= entry.text %>
<% end %>

