@import "base/_fonts.scss";
@import "base/_colors.scss";
@import "base/_spacing.scss";
@import "components/_alerts.scss";
@import "components/_plyr.scss";
@import "components/_pagination.scss";

body {
  font-family: "SignDict", "Helvetica Neue";
  font-weight: 100;
  margin: 0;
}

form.link {
  display: inline;
  margin-top: -2px;
}

.t-align-right {
  text-align: right;
}

.t-action-buttons {
  line-height: 2em;
  margin-top: -0.3em;
}

.o-form-element {
  padding: 0.5em 0;
}

.c-hint {
  position: relative;
}

.b-video-player {
  display: block;
  width: 100%;
  max-width: 40em;
}

.b-video-actions {
  margin: 1em 0em;
}
