@import 'sign2mint/base/_fonts.scss';
@import 'sign2mint/base/_colors.scss';
@import 'base/_spacing.scss';
@import 'components/_alerts.scss';
@import 'components/_plyr.scss';
@import 'components/_buttons.scss';
@import 'components/_pagination.scss';
@import 'components/_forms.scss';
@import 'components/_sidebar.scss';
@import 'components/_tags.scss';
@import 'objects/_embed.scss';
@import 'sign2mint/objects/_entry.scss';
@import 'objects/_entry-index.scss';
@import 'objects/_footer.scss';
@import 'objects/_landing.scss';
@import 'objects/_navigation.scss';
@import 'objects/_recorder.scss';
@import 'sign2mint/objects/_filter_overview.scss';
@import 'sign2mint/objects/_searchbar.scss';
@import 'sign2mint/objects/_select_multiple.scss';
@import 'objects/_search-result.scss';
@import 'objects/_supporter.scss';
@import 'objects/_user-show.scss';
@import 'objects/_video-list.scss';
@import 'objects/_video.scss';
@import 'objects/_voting-box.scss';
@import 'objects/_welcome.scss';
@import 'sign2mint/pages/entry/show.scss';
@import 'vendor/_font-awesome.min.scss';
@import 'vendor/_socialbuttons.scss';

a {
  color: $highlight;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 2em;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: $dark_font;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input {
  font-family: 'SignDict', 'Helvetica Neue';
}

.s2m-main {
  width: 100%;
  max-width: 1247px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media all and (max-width: 48em) {
  .sc-main {
    min-height: 10em;
  }
}

@media all and (min-width: 48em) {
  .sc-main {
    min-height: 30em;
    flex-grow: 1;
    margin: 0 auto;
    width: 100%;
  }
}

strong {
  font-weight: 600;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $highlight;
}

.s2m--header {
  padding: 1rem;
  background-color: $highlight;
  color: white;

  display: flex;
  align-items: center;

  &--logo {
    padding-right: 2rem;

    img {
      height: 2rem;
    }
  }

  &--about {
    padding-left: 2rem;
  }

  a {
    color: white;

    &:hover {
      color: white;
    }
  }
}

.s2m--welcome {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem !important;
  color: $dark_font;

  &--title {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: $highlight;
  }

  &--description {
    font-size: 1rem;
  }

  &--invite {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 700;
  }

  &--suggest {
    background-color: $highlight;
    color: white;
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 2rem;
  }
}

.s2m--welcome--header {
  width: 45em;
  margin: 0 auto;
}

.s2m--welcome-searchbar {
  background-color: $light_background;
  padding: 1rem 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;

  &--input-wrapper {
    flex-grow: 1;
  }

  &--input {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0);
  }

  &--submit {
    font-family: 'Roboto', sans-serif;
    background-color: $highlight;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }

  &--all-letters {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    color: $highlight;
    text-decoration: none;

    &:visited {
      color: $highlight;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.s2m--supporter {
  width: 100%;
  max-width: 78rem;
  margin: 0 auto;
  padding: 0 2rem;
  &--header {
    font-size: 1rem;
  }

  &--logo {
    height: 4rem;
    margin-right: 3rem;
  }
}

footer {
  margin-top: 3rem;
  background-color: $light_background;
  color: $dark_font;
  padding: 1rem 0;

  a {
    color: $dark_font;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.s2m--footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--text {
    width: 15rem;
  }

  &--first-links {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
  }

  &--last-links {
    display: flex;
    flex-direction: column;
    margin-left: 10rem;
  }
}
