.sc-sidebar {
  background-color: $light_background;
  padding: 1em 1em;
}

@media all and (max-width: 48em) {
  .sc-sidebar {
    margin-top: 1.5em;
  }
}

.sc-sidebar--content {
  font-size: 0.9em;
}

.sc-sidebar h1 {
  font-size: 1em;
}
