.sc-button {
  display: inline-block;

  margin-top: 1em;

  padding: 1em 2em;

  border: none;
  background-color: $highlight;
  color: $bright_font;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  height: 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sc-button--small {
  padding: 0.5em 1em;
  font-weight: normal;
}

.sc-link {
  font-size: 1em;
  background: none;
  border: none;
  color: $highlight;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-left: -2px;
  margin-top: -2px;
  font-family: "SignDict", "Helvetica Neue";
}


.sc-link:hover {
  text-decoration: underline;
}
