.sc-input {
  border: 1px solid $deactive;
  padding: 1em 0.5em;
  font-size: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  font-family: "SignDict", "Helvetica Neue";
}

.sc-label {
  font-weight: bold;
  font-size: 0.7em;
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.sc-field {
  width: 100%;
  padding: 1em 0;
  display: block;
}

.sc-actions {
  text-align: right;
}

.sc-hint {
  display: block;
}

.sc-hint--error {
  color: $alert;
}

.sc-image-upload--image {
  width: 4em;
}

.sc-image-upload--file {
  font-size: 1em;
  font-family: "SignDict", "Helvetica Neue";
}

.sc-fieldset {
  width: 100%;
  margin-top: 1em;
  border: 1px solid $deactive;
}

.sc-fieldset--hint {
  font-size: 1em;
  line-height: 1.3em;
}
