@import "plyr/dist/plyr.css";

.plyr {
  margin: 0 1em;
}

.plyr.plyr--fullscreen-active {
  margin: 0;
}

.plyr_playrate {
  padding: 3px 7px 4px 7px !important;
  font-size: 1em;
}
.plyr_playrate.tab-focus:focus,
.plyr_playrate:hover {
  background-color: #3498db;
}
