.sc-alert {
  padding: 1em 1em;
  margin-bottom: 2em;
}

.sc-alert--success {
  background-color: $success;
  color: $bright_font;
}

.sc-alert--error {
  background-color: $alert;
  color: $bright_font;
}
