.sc-input {
  border: 1px solid $deactive;
  padding: 1em 0.5em;
  font-size: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
}

.sc-label {
  font-weight: bold;
  font-size: 0.7em;
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.sc-actions {
  text-align: right;
}

.sc-hint {
  display: block;
}

.sc-hint--error {
  color: $alert;
}
