{
  "presets": [
    [
      "@babel/preset-env",
      {}
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "transform-react-jsx",
      {
        "pragma": "jsxElem"
      }
    ]
  ]
}