@import "base/colors.css";
@import "base/fonts.css";
@import "components/alerts.css";
@import "components/buttons.css";
@import "components/forms.css";
@import "components/sidebar.css";
@import "objects/footer.css";
@import "objects/landing.css";
@import "objects/navigation.css";
@import "objects/welcome.css";
@import "objects/searchbar.css";
@import "objects/user-show.css";
@import "objects/video.css";
@import "objects/video-list.css";
@import "font-awesome.min.css";

a {
  color: $highlight;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 2em;
}

body {
  font-family: "SignDict", "Helvetica Neue";
  font-weight: 100;
  padding: 1em;
  color: $dark_font;
}

input {
  font-family: "SignDict", "Helvetica Neue";
}

@media all and (max-width: 48em) {
  .sc-main {
    min-height: 10em;
  }
}

@media all and (min-width: 48em) {
  .sc-main {
    min-height: 30em;
  }
}

strong {
  font-weight: 600;
}

.st-no-margin {
  margin: 0;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $highlight;
}
