@import "base/fonts.css";
@import "base/colors.css";
@import "components/navigation.css";
@import "components/buttons.css";
@import "components/alerts.css";
@import "objects/landing.css";
@import "objects/footer.css";
@import "font-awesome.min.css";

a {
  color: $highlight;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
 line-height: 2em;
}

body {
  font-family: 'SignDict', 'Helvetica Neue';
  font-weight: 100;
  padding: 1em;
  color: $dark_font;
}


@media all and (max-width: 48em) {
  .sc-layout--empty {
    padding: 1em;
  }
}

@media all and (min-width: 48em) {
  .sc-layout--empty {
    padding: 1em 0px;
  }
}

strong {
  font-weight: 600;
}

