@import "base/_colors.css";
@import "base/_fonts.css";
@import "base/_spacing.css";
@import "components/_alerts.css";
@import "components/_plyr.css";
@import "components/_buttons.css";
@import "components/_pagination.css";
@import "components/_forms.css";
@import "components/_sidebar.css";
@import "objects/_embed.css";
@import "objects/_entry-index.css";
@import "objects/_footer.css";
@import "objects/_landing.css";
@import "objects/_navigation.css";
@import "objects/_recorder.css";
@import "objects/_searchbar.css";
@import "objects/_supporter.css";
@import "objects/_user-show.css";
@import "objects/_video-list.css";
@import "objects/_video.css";
@import "objects/_voting-box.css";
@import "objects/_welcome.css";
@import "vendor/_font-awesome.min.css";
@import "vendor/_socialbuttons.css";

a {
  color: $highlight;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 2em;
}

body {
  font-family: "SignDict", "Helvetica Neue";
  font-weight: 100;
  padding: 1em;
  color: $dark_font;
}

input {
  font-family: "SignDict", "Helvetica Neue";
}

@media all and (max-width: 48em) {
  .sc-main {
    min-height: 10em;
  }
}

@media all and (min-width: 48em) {
  .sc-main {
    min-height: 30em;
  }
}

strong {
  font-weight: 600;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $highlight;
}
