$accent: #3333af;
$highlight: #006c66;
$deactive: #aeb0b0;
$dark_font: #555555;
$bright_font: #ffffff;
$alert: #da453f;
$alert_background: #fbeceb;

$success: #46b472;
$success_background: #eefbf3;

$light_background: #eeeeee;
$dimmed_background: #e6e6e6;
$dark_background: #10134b;

$border: #707070;
$border_highlight: #00a098;

$s2m-biologie: #009300;
$s2m-chemie: #bc9f00;
$s2m-geowissenschaften: #c45e00;
$s2m-informatik: #707070;
$s2m-mathematik: #c90022;
$s2m-medizin: #040e8b;
$s2m-physik: #0085bd;

$s2m-color-list: (
  'biologie': $s2m-biologie,
  'chemie': $s2m-chemie,
  'geowissenschaften': $s2m-geowissenschaften,
  'informatik': $s2m-informatik,
  'medizin': $s2m-medizin,
  'phyisk': $s2m-physik,
);

@each $name, $color in $s2m-color-list {
  .s2m--colors--#{$name} {
    color: $color;
  }
}
