$accent: #3333af;
$highlight: #006c66;
$deactive: #aeb0b0;
$dark_font: #555555;
$bright_font: #ffffff;
$alert: #da453f;
$alert_background: #fbeceb;

$success: #46b472;
$success_background: #eefbf3;

$light_background: #eeeeee;
$dimmed_background: #e6e6e6;
$dark_background: #10134b;

$border: #707070;
