.so-footer {
  margin-top: 6em;
}

.so-footer a {
  color: $deactive;
}

.so-footer--sponsorheader {
  font-size: 1em;
}
.so-footer--sponsorheader a {
  color: $dark_font;
}

.so-footer--sponsorabout a {
  color: $highlight;
}

.so-footer--sponsorlogo {
  height: 7em;
  width: auto;
  margin: 0 2em 0 0;
  display: inline-block;
}

.so-footer--prototype {
  padding-top: 2em;
}

.so-footer--wishlephant {
  padding-top: 2em;
  height: 7em;
}

.so-footer--rrbone {
  padding-top: 2em;
}

.so-footer--zweitag {
  width: 10em;
  height: auto;
  padding-bottom: 1.3em;
  margin: 0;
}

.so-footer--links {
  margin-top: 3em;
}

.so-footer--links--about {
  color: $deactive;
  font-size: 0.9em;
}

.so-footer--links--list {
  list-style: none;
  color: $deactive;
  font-size: 0.9em;
}

.so-footer--links--social {
  text-align: right;
}

.so-footer--links--social--text {
  font-size: 2em;
}

@media all and (max-width: 48em) {
  .so-footer--links--list {
    padding: 0;
  }
}

@media all and (min-width: 48em) {
  .so-footer--links--list {
    margin: 0 0 0 3em;
  }
}
