.so-searchbar {
  background-color: $dark_background;
  margin: 0 -1em 1em -1em;
  padding: 2em 0em;
}

.so-searchbar--container {
  display: flex;
  padding: 0 1em;
}

.so-searchbar--input {
  width: 85%;
}

.so-searchbar--input--with-border {
  border-left: 1px solid $deactive !important;
  border-right: 1px solid $deactive !important;
  border-top: 1px solid $deactive !important;
  border-bottom: none;
}

.so-searchbar--input--inner {
  width: 100%;
  font-size: 1em;
  border-radius: 0;
  border: none;
  height: 3em;
  padding: 0.8em 1em;
}

.so-searchbar--submit {
  border: none;
  background-color: $highlight;
  color: $bright_font;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  height: 3em;
  width: 15%;
  margin-left: 1em;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fa.so-searchbar--icon {
  display: none;
}

.so-search-hints {
  position: absolute;
  background-color: white;
  border-left: 1px solid $deactive;
  border-right: 1px solid $deactive;
  border-bottom: 1px solid $deactive;
  z-index: 10;
}

.so-search-hints--empty {
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-align: center;
  margin: 0;
}

.so-search-hints--list {
  padding: 0.5em 0.5em 0 0.5em;
  margin: 0;
}

.so-search-hints--item {
  list-style-type: none;
  padding-bottom: 0.5em;
}

.so-search-hints--item--link {
  display: flex;
  align-items: center;
}

.so-search-hints--item--text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.so-search-hitns--item--text--description {
  color: $deactive;
}

.so-search-hints--item--image {
  flex-shrink: 0;
  width: 5em;
  padding-right: 1em;
}

.so-search-hints--more--link {
  display: block;
  width: 100%;
  margin: 0.5em 0;
  text-align: center;
}

@media all and (max-width: 48em) {
  .so-searchbar {
    padding-bottom: 2em;
  }

  .so-searchbar--submit {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 0;
  }

  .so-searchbar--text {
    display: none;
  }

  .fa.so-searchbar--icon {
    display: inline-block;
  }
}

@media all and (min-width: 48em) {
  .so-searchbar {
    margin: -1.1em -1em 1em;
  }
}
