.so-video {
  background-color: #000;
  margin-top: -1em;
  margin-left: -1em;
  margin-right: -1em;
}

.so-video--player {
  display: block;
  width: 100%;
  padding: 0 1em;
}

.plyr .so-video--player {
  padding: 0 0em;
}

.so-video-details {
  margin: 1em 0;
}

.so-video-details--headline {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.so-video-details--source {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 0.7em;
  color: $deactive;
}

.so-video-details--label {
  color: $deactive;
  font-size: 0.7em;
  margin-bottom: 0.5em;
}

.so-video-list--details--by {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.so-video-details--si {
  color: $deactive;
  font-size: 0.7em;
  margin-bottom: 0.5em;
}

.so-video-details--voting {
  margin-top: 1em;
}

.so-video-details--signimage {
  border: 1px solid $deactive;
  padding: 1em;
  margin-right: 1em;
}

.so-video-details--signimage-deleges {
  color: $deactive;
  font-size: 0.7em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

@media all and (max-width: 48em) {
  .so-video--player {
    padding: 0;
  }
}
