<%= if Phoenix.Flash.get(@conn.assigns.flash, :info) do %>
  <p class="sc-alert sc-alert--success" role="alert"><%= Phoenix.Flash.get(@conn.assigns.flash, :info) %></p>
<% end %>
<%= if Phoenix.Flash.get(@conn.assigns.flash, :error) do %>
  <p class="sc-alert sc-alert--error" role="alert"><%= Phoenix.Flash.get(@conn.assigns.flash, :error) %></p>
<% end %>

