<h2><%= gettext("Edit User") %></h2>

<%= render "form.html", changeset: @changeset,
                        action: backend_user_path(@conn, :update, @user) %>

<%= link gettext("Back"), to: backend_user_path(@conn, :index) %>
