<div class="o-grid o-grid--wrap o-grid--demo">
  <div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-33@small">first</div>
  <div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-33@medium">second</div>
  <div class="o-grid__cell o-grid__cell--width-100 o-grid__cell--width-33@large">third</div>
</div>
