.so-landing--banner--logo {
  width: 5em;
}

.so-landing--banner--headline {
  margin-top: 0;
  font-size: 2.3em;
  margin-bottom: 0;
  line-height: 1.5em;
}

.so-landing--banner--stats {
  color: $highlight;
}

.so-landing--search {
  background-color: $highlight;
  padding: 1.8em 2em;
  z-index: 10;
  position: relative;
}

.so-landing--search--input:focus {
  outline: none;
}

.so-landing--search--input {
  border: none;
  border-radius: 0;
  font-size: 1em;
  padding: 0.5em 1em;
  width: 100%;
  height: 2em;
}

.so-landing--search--submit {
  border: none;
  background-color: $highlight;
  color: $accent;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  height: 2em;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.so-landing--search--submit:hover {
  text-decoration: underline;
}

.so-landing--motivation {
  background-color: $dark_background;
  color: $bright_font;
  margin-top: -1em;
  margin-left: -1em;
  margin-right: -1em;
  z-index: 1;
}

.so-landing--motivation--inner {
  padding: 3em 0em;
}

.so-landing--motivation--header--inner {
  position: relative;
  font-weight: 400;
}

.so-landing--motivation--header--inner:before {
  border-bottom: 8px solid $highlight;
  position: absolute;
  content: "";
  width: 110%;
  height: 56%;
  margin-left: -0.4em;
  margin-right: -0.4em;
  pointer-events: none;
}

.so-landing--motivation--hand {
  text-align: right;
}

.so-landing--motivation--hand--image {
  width: 10em;
  height: auto;
  margin: 3em 0;
}

.so-landing--action {
  padding-top: 3em;
}

.so-landing--action--image {
  width: 15em;
  height: auto;
  margin: 3em 0;
}

.so-landing--action--text--beforeheadline {
  color: $highlight;
  margin-bottom: 0;
}

.so-landing--action--text--headline {
  margin-top: 0.2em;
}

.so-landing--action--text-button {
  margin-top: 1.5em;
}

@media all and (max-width: 48em) {
  .so-landing--banner {
    margin-top: 0em;
  }

  .so-landing--banner--logo {
    margin-bottom: 1em;
  }

  .so-landing--search {
    margin-top: 2em;
    margin-left: -1em;
    margin-right: -1em;
  }

  .so-landing--search--submit {
    margin-top: 1em;
    padding: 0;
  }

  .o-grid__cell.so-landing--search--submit-cell {
    /* this is a hack because sadly the no-gutter
       css does not work in safari mobile */
    padding-left: 0;
    padding-right: 2;
  }

  .so-landing--motivation {
    margin-left: -1em;
    margin-right: -1em;
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media all and (min-width: 48em) {
  .so-landing--banner {
    margin-top: 3em;
  }

  .so-landing--search {
    margin-top: 6em;
    margin-left: -2em;
    margin-right: -2em;
  }

  .so-landing--search--submit {
    margin-left: 1em;
  }

}

