$header_background_color: #fff;

.so-navigation {
  position: static;
  width: 100%;
  max-width: 48em;
  z-index: 3;
  background-color: $header_background_color;
  min-height: 64px;
}

.so-navigation__left {
  display: block;
  float: left;
  margin-left: 1em;
  margin-bottom: 0;
}

.so-navigation__logo {
  margin-top: -1.5em;
  width: auto;
  height: 6em;
  position: absolute;
  border: 0;
}

.so-navigation__about--no-logo {
  margin-top: 0.5em;
  color: $deactive;
  font-size: 0.9em;
  display: inline-block;
}

.so-navigation__about {
  margin-left: 6em;
  margin-top: 0.5em;
  color: $deactive;
  font-size: 0.9em;
  display: inline-block;
}

.so-navigation__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: $header_background_color;
  font-size: 0.9em;
  clear: both;
  max-height: 0;
}

.so-navigation__menu > li > a,
.so-navigation__menu > li > form {
  display: block;
  padding: 0.2em 0.3em;
}

.so-navigation__menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 1em 2em;
  position: relative;
}

.so-navigation__navicon {
  background-color: $dark_background;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 1em;
}

.so-navigation__navicon:before,
.so-navigation__navicon:after {
  background-color: $dark_background;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.so-navigation__navicon:before {
  top: 5px;
}

.so-navigation__navicon:after {
  top: -5px;
}

/* .so-navigation__menu-btn is a checkbox. according to its state we need to
   change the displayed menu-icon and change the menu's visibility. */

.so-navigation__menu-btn {
  display: none;
}

.so-navigation__menu-btn:checked ~ .so-navigation__menu {
  max-height: 440px;
  padding: 3em 0 1em;
}

.so-navigation__menu-btn:checked ~ .so-navigation__menu--no-logo {
  padding-top: 0;
}

.so-navigation__menu-btn:checked ~ .so-navigation__menu li {
  display: block;
}

.so-navigation__menu-btn:checked ~ .so-navigation__menu li:hover,
.so-navigation__menu-btn:checked ~ .so-navigation__menu li form:hover {
  background-color: $light_background;
}

.so-navigation__menu-btn:checked ~ .so-navigation__menu-icon .so-navigation__navicon {
  background: transparent;
  cursor: pointer;
}

.so-navigation__menu-btn:checked ~ .so-navigation__menu-icon .so-navigation__navicon:before {
  transform: rotate(-45deg);
}

.so-navigation__menu-btn:checked ~ .so-navigation__menu-icon .so-navigation__navicon:after {
  transform: rotate(45deg);
}

.so-navigation__menu-btn:checked ~ .so-navigation__menu-icon .so-navigation__navicon:before,
.so-navigation__menu-btn:checked ~ .so-navigation__menu-icon .so-navigation__navicon:after {
  top: 0;
}

li.so-navigation__menu-item--user > a {
  padding-bottom: 0;
  padding-top: 0;
}

.so-navigation__user-avatar {
  max-height: 2.5em;
  vertical-align: middle;
  border: 0;
}

.so-navigation__user-name {
  display: none;
}

@media all and (max-width: 48em) {
  .so-navigation {
    min-height: 48px;
  }

  .so-navigation__left {
    margin-left: 0;
  }

  .so-navigation--logo {
    margin-right: 1em;
  }

  .so-navigation__menu > li > a,
  .so-navigation__menu > li > form {
    display: block;
    padding: 0.75em 0.3em;
  }

  .so-navigation__user-name {
    display: inline;
    margin-left: 0.5em;
  }

  .so-navigation__user-avatar {
    max-height: 1.75em;
  }

  .so-navigation__menu-item--logout {
    width: 100%;
    text-align: left;
    padding-left: 0.1em;
  }
}

@media all and (min-width: 48em) {
  .so-navigation {
    text-align: right;
  }

  .so-navigation__menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .so-navigation__menu li {
    display: inline-block;
  }

  .so-navigation__menu-icon {
    display: none;
  }
}
