.so-video {
  background-color: #000;
  margin-top: -1em;
  margin-left: -1em;
  margin-right: -1em;
}

.so-video--player {
  display: block;
  width: 100%;
  padding: 0 1em;
}

#so-video--player .jw-icon-rewind {
  display: none !important;
}
#so-video--player  .jw-icon-volume {
  display: none !important;
}

.so-video--player--element {
  display: block;
  width: 100%;
  padding: 0 1em;
}

.so-video-details {
  margin: 1em 0;
}

.so-video-details--headline {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.so-video-details--source {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 0.7em;
  color: $deactive;
}

.so-video-details--label {
  color: $deactive;
  font-size: 0.7em;
  margin-bottom: 0.5em;
}

.so-video-list--details--by {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media all and (max-width: 48em) {
  .so-video--player {
    padding: 0;
  }
  .so-video--player--element {
    padding: 0;
  }
}
