.so-footer {
  margin-top: 6em;
}

.so-footer a {
  color: $deactive;
}

.so-footer--sponsorheader {
  font-size: 1em;
}

.so-footer--sponsorlogo {
  height: 7em;
  width: auto;
  margin: 0 1em;
  display: inline-block;
}

.so-footer--prototype {
  padding-top: 2em;
}

.so-footer--rrbone {
  padding-top: 2em;
}

.so-footer--zweitag {
  width: 10em;
  height: auto;
  padding-bottom: 1.3em;
  margin: 0;
}

.so-footer--links {
  margin-top: 3em;
}

.so-footer--links--about {
  color: $deactive;
  font-size: 0.9em;
}

.so-footer--links--center {
}

.so-footer--links--list {
  list-style: none;
  margin: 0 0 0 3em;
  color: $deactive;
  font-size: 0.9em;
}

.so-footer--links--social {
  text-align: right;
  font-size: 2em;
}
