.so-navigation {
  list-style: none;
  margin-top: 0.2em;
  vertical-align: top;
  font-size: 0.9em;
  margin-bottom: 0.3em;
  padding-top: 0.5em;
}

.so-navigation-item {
  vertical-align: top;
}

.so-navigation--logo {
  margin-top: -1.5em;
  width: auto;
  height: 6em;
  float: left;
  margin-left: -1em;
  position: absolute;
}

.so-navigation-item--image * img {
  width: 2.5em;
}

.so-navigation--imprint--no-logo {
  margin-top: 0.5em;
  color: $deactive;
  font-size: 0.9em;
  display: inline-block;
}

.so-navigation--imprint {
  margin-left: 5em;
  margin-top: 0.5em;
  color: $deactive;
  font-size: 0.9em;
  display: inline-block;
}

@media all and (max-width: 48em) {
  .so-navigation {
    text-align: left;
    padding: 0.5em 0;
    margin-top: 3em;
  }

  .sc-layout--empty .so-navigation {
    margin-top: 0em;
    margin-bottom: 2em;
  }

  .sc-layout--empty .so-navigation-item {
    margin-left: 0;
  }

  .so-navigation-item {
    margin-left: -1em;
    margin-bottom: 0.5em;
  }

  .so-navigation--logo {
    margin-right: 1em;
  }
}

@media all and (min-width: 48em) {
  .so-navigation {
    text-align: right;
  }

  .so-navigation-item {
    display: inline-block;
    margin-left: 1em;
    height: 2.5em;
  }

  .so-navigation-item--image {
    margin-top: -0.7em;
  }

}

